html {
  --color-active: rgb(22, 15, 11);
  --color-notActive: rgb(96, 78, 68);
  --color-very-light-notActive: rgb(175, 175, 175);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#background-styling {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  height: 20vh;
  margin: auto;
  display: flex;
}

#header-box {
  margin: auto;
  width: 30rem;
  height: 10vh;
  display: flex;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(2px);
}

h1 {
  margin: auto;
  font-size: 2.5rem;
  text-shadow: 3px 3px 5px black;
  color: rgb(218, 171, 118);
}

main {
  height: 80vh;
}

#calculator-body {
  margin: auto;
  padding: 1rem;
  width: 20rem;
  height: 30rem;
  background-color: rgba(242, 255, 243, 0.1);
  backdrop-filter: blur(2px);
  border: solid 1px rgb(85, 66, 66);
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.178),
    -2px -2px 6px 3px rgba(0, 0, 0, 0.178);
  border-radius: 1rem;
}

#display-box {
  height: 30%;
  padding: 1rem 0;
  background-color: rgb(242, 241, 231);
  border: solid 1px rgb(85, 66, 66);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 10% 90%;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

#display-box div:nth-of-type(3) {
  grid-column: 1/span 2;
}

#operation-symbol {
  width: auto;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}

#sum {
  color: var(--color-very-light-notActive);
}

#sub {
  color: var(--color-very-light-notActive);
}

#mul {
  color: var(--color-very-light-notActive);
}

#div {
  color: var(--color-very-light-notActive);
}

#display-input-box {
  font-size: 2rem;
  padding-right: 1rem;
  text-align: right;
  color: var(--color-active);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#history-log {
  font-size: 0.7rem;
  color: var(--color-very-light-notActive);
  white-space: nowrap;
  overflow: auto;
  /* text-overflow - dots at the end of characters*/
  /* text-overflow: ellipsis;  */
  /*direction helps in showing characters from the end of string */
  /* direction: rtl; */
  /* height: 20%; */

}

#history-log::-webkit-scrollbar {
  /* specially made to work with scrollbars of some browsers */
  display: none;
}

#input-text {
  height: 80%;
}

#display-result-box {
  font-size: 1rem;
  padding: 0 1rem;
  text-align: right;
  color: var(--color-notActive);
}

#input-btns {
  margin: 1rem 0;
  height: 60%;
  display: grid;
  justify-items: stretch;
  gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#input-btns button:nth-of-type(8) {
  grid-row: 2 / span 2;
  grid-column: 4 / span 1;
}

#input-btns button:nth-of-type(15) {
  grid-row: 4 / span 2;
  grid-column: 4 / span 1;
}

#input-btns button:nth-of-type(16) {
  grid-column: 1 / span 3;
}

#input-btns button {
  background-color: rgb(63, 51, 51);
  color: rgb(252, 223, 210);
  font-size: 1.4rem;
  border: 0.06rem solid rgb(33, 26, 26);
  border-radius: 5px;
  transition: 0.2s;
}

#input-btns button:hover {
  background-color: rgb(81, 67, 67);
}